/* .aa:hover {
  border-radius: 25px;
  text-align: center;
  align-content: center;
  border: 2px solid #ff7200;
  color: #ff7200;
} */
/* .aa {
  height: 50px;
  width: 100px;
  align-content: center;
  text-align: center;
  border-radius: 25px;
} */
* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.5) 50%
  );
  background-image: url(bg2.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}
.icon {
  width: 200px;
  float: left;
  height: 70px;
}
.logo {
  color: #ff7200;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}
.menu {
  width: 400px;
  float: left;
  height: 70px;
}
ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}
ul li a {  text-decoration: none;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: 0.4s, ease-in-out;
}

a:hover {
  color: #ff7200;
  transition: 0.5s;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family:'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    color: #fff;
    margin-top: 13px;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    height: 40px;
    width: 100px;
    background: #ff7200;
    margin-top: 13px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: none;
    border: 2px solid #ff7200;
    color: #fff;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}